
    <div class="text-center">
        <h1 class="fw-bold">Inicio de sesión</h1>
    </div>
  
    <div>
        <div class="col-md-6 col-lg-4">
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <mat-form-field class="mb-3 full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" placeholder="Email" formControlName="email">
  
                    @if(controlHasError('email', 'required')){
                        <mat-error>Este campo es obligatorio</mat-error>
                    }

                    @if(controlHasError('email', 'email')){
                        <mat-error>Ingrese un email válido</mat-error>
                    }
                </mat-form-field>
  
                <mat-form-field class="mb-3 full-width" appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" placeholder="Contraseña" formControlName="password">
  
                    @if(controlHasError('password', 'required')){
                        <mat-error>Este campo es obligatorio</mat-error>
                    }
                </mat-form-field>
  
                <button type="submit" class="btn-login full-width" mat-raised-button color="primary" [disabled]="loginForm.invalid">
                    Ingresar
                </button>
  
                <div class="mt-3 text-center register-link">
                    Aún no tienes una cuenta?
                    <a class="ms-2" routerLink="/auth/sign-up">
                        Regístrate aquí
                    </a>
                </div>
            </form>
        </div>
    </div>

